Name: <%= @recipes.name %>
ingredients: <%= @recipes.ingredients %>
Cook Time: <%= @recipes.cook_time %>

<form action="/recipes/<%= @recipes.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form> 